header{
    background-color: aquamarine;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}

footer{
    background-color: aquamarine;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}


.galery {
    width: 640px;
    height: 500px;
    
    overflow: hidden;
    
}
.galery .fotos {
    width: 500%;
    animation-name: animacao2;
    animation-duration:10s;
    animation-iteration-count: infinite;
   
}
.galery .fotos img {
    width: 19.9%;
}